@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    background-color: rgb(20, 20, 20);

    color: white;
    font-family: "Rubik", Arial, sans-serif;

    margin: 0;
}

h1 {
    font-size: 40px;
}